    <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12 controls" style="padding-top: 35px;">
        <i class="adminControl fa fa-3x fa-stop" onclick="setTigerBoxAction('Stop')" title="Stop" ></i>
        <i class="adminControl fa fa-3x fa-credit-card" onclick="setTigerBoxAction('Credits')" title="Credits" ></i>
        <i class="adminControl fa fa-3x fa-volume-up" onclick="setTigerBoxAction('VolumeUp')" title="Volume +" ></i>
        <i class="adminControl fa fa-3x fa-volume-down" onclick="setTigerBoxAction('VolumeDown')" title="Volume -" ></i>
    </div>
