<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--Song Paths separated by ;-->
    <add key="MainPathNames" value="D:\Projetos\Jukebox-Tigerbox\Tigerbox.SiteControl\Data" />
    <!--Database file path-->
    <add key="DatabasePath" value="D:\Projetos\Jukebox-Tigerbox\Tigerbox.SiteControl\Data\database.json" />
    <!--Default Image-->
    <add key="DefaultImagePath" value="D:\Projetos\Jukebox-Tigerbox\Tigerbox.SiteControl\Data\no-image.jpg" />
    <!--Video Icon Path-->
    <add key="VideoIconPath" value="D:\Projetos\Jukebox-Tigerbox\Tigerbox.SiteControl\Data\videoIcon.png" />
    <!--Music Icon Path-->
    <add key="MusicIconPath" value="D:\Projetos\Jukebox-Tigerbox\Tigerbox.SiteControl\Data\musicIcon.png" />
    <!--Shared List Path-->
    <add key="SharedListPath" value="D:\Projetos\Jukebox-Tigerbox\Tigerbox.SiteControl\Data\settedData.json" />
    <!-- NetworkConfig -->
    <add key="Host" value="10.1.1.181" />
    <add key="Port" value="3987" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>